*{
 margin: 0;
 padding: 0;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* INDEX HEADER */
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(https://media.istockphoto.com/id/962517604/es/foto/supermercado.jpg?s=612x612&w=0&k=20&c=YlcLpGKJGOm7yBJgZtEEIDuAAItXB1aO6sbWwk7xK0Q=);
}

.header img{
    width: 150px;

}

.nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 400px;
    justify-content: space-around;
    
}

.nav ul a{
    text-decoration: none;
    color: rgb(204, 224, 88);
    font-weight: bold;
    box-shadow: 6px 7px 6px;
    
}

/* main index */
.oferta{
    margin: 150px;
    background-repeat: no-repeat;
}

.main{
    background-image: url(https://media.istockphoto.com/id/465987866/es/foto/botellas-de-vino-en-tienda.jpg?s=1024x1024&w=is&k=20&c=RF_l2aZOIPB6ZawPSITEqIngHYj11vkg1WhaPOKWi7s=);
   
}

.footer img{
 width: 91px;
}

.footer{
    background-color: black;
}

.h2{
    color: rgb(16, 99, 207);
    display: flex;
    justify-content: space-around;
}

